ul {
    align-content: center;
    padding: 0;
    margin:0;
    gap:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vh
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.deck {
    background: #111;
    border: 1px solid #ffcc00;
    border-radius: 6px;
    padding: 1.2vh 2vh;
    transition: 0.2s;
    width: 15vh;
    height: 15vh;
    overflow-y: hidden;
    text-align:center;
    margin: 0 1.5vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.deck:hover {
    background: #ffcc00;
    color: #000;
    box-shadow: 0 0 1vh #ffcc00;
}



.deck img {
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    border-radius: 0.4vh;
}

.container {
    margin-top: 10vh;
}

body {
    overflow: auto;
}

#bottoni {
    position: fixed;
    top: 15vh;
    left: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    z-index: 1000;
}

